<div class="after_nav">
  <p class="look_hospital"><%= I18n.t 'mes_text.nav_pharmacy'%></p>
  <p class="place"> <%=  I18n.t 'mes_text.nav_rigth_place'  %></p>

  <div class="search-block">
    <%= form_with(scope: :pharmacy, url: pharmacies_path, method: :get, local: true ) do |form|%>
  	  <%= form.label :name, class: 'col-md-1 wite-color' %>
  	  <%= form.text_field :name, class: 'col-md-1',style: "padding: 7px; width: 300px;", placeholder: (I18n.t 'mes_text.search') %>
  	  <%= form.collection_select(:town_id, Area.all, :id, :town, class:"col-md-1", style:"width: 300px;", prompt: (I18n.t 'mes_text.select_town')) %>
      <%= form.collection_select(:area_id, Area.all, :id, :name, class:"col-md-1", style:"width: 300px;", prompt:  (I18n.t 'mes_text.select_area')) %>
      <%= form.submit I18n.t 'mes_text.search', class: 'btn btn-default'%>

    <% end %>
  </div>
  <div class="table-container">
    <table class="list-table table table-hover">
      <thead>
        <tr>
          <th><%= I18n.t 'mes_text.name' %></th>
          <th><%= I18n.t 'mes_text.area' %></th>
          <th><%= I18n.t 'mes_text.all_nigth' %></th>
          <th><%= I18n.t 'mes_text.googlemap_link' %></th>
          <th><%= I18n.t 'mes_text.telephone' %></th>
          <th><%= I18n.t 'mes_text.telephone' %></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>

        <% @pharmacies.each do |pharmacy| %>
          <tr>
            <td><%= pharmacy.name %></td>
            <td><%= pharmacy.area.name %></td>
            <td>
              <% if  pharmacy.all_nigth %>
                <span class="badge badge-success" style="background-color: green">YES</span>
              <% else %>
                <span class="badge badge-danger" style="background-color: red">NO</span>
              <% end%>
            </td>
            <td> <a href="<%= pharmacy.googlemap_link %>" target= "_blank" > Lien</a></td>
            <td><%= pharmacy.number1 %></td>
            <td><%= pharmacy.number2 %></td>
            <td><%= link_to (I18n.t 'mes_text.detail'), pharmacy , class: "btn btn-primary bouton-detail" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<%= paginate @pharmacies %>

<div class="comments">
  <p> <%= I18n.t 'mes_text.leave_comment' %></p>
  <%= render partial: 'comments/form', locals: { comment: @comment} %>
  <div id="comments_area" class="">
    <%= render partial: 'comments/index', locals: { comments: @comments } %>
  </div>
</div>
</div>
