<div class="after_nav_detail_page">
  <p class="look_hospital">Détail hôpital</p>
  <p class="place">You are at the rigth place</p>



<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pharmacy.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @pharmacy.area.name %>
</p>

<p>
  <strong>All nigth:</strong>
  <%= @pharmacy.all_nigth %>
</p>

<p>
  <strong>Googlemap link:</strong>
  <%= @pharmacy.googlemap_link %>
</p>

<p>
  <strong>Numeros de téléphone:</strong>
  <%= @pharmacy.number1 %> ||
  <%= @pharmacy.number2 %>
</p>
<div class="panel panel-default" style="width: 50%;">
   <div class="panel-heading">Asurances prises en charges</div>
   <table class="table">
     <thead>
       <tr>
         <th></th>
       </tr>
     </thead>
     <tbody>
         <% @pharmacy.insurances.each do |insurance|%>
           <tr>
             <td>
               <%= insurance.name%>
             </td>
         <% end %>
     </tbody>
   </table>
 </div>
<%= link_to 'Retour', pharmacies_path, class: "btn btn-info" %>
