<%= form_with(model: blood_bank, local: true) do |form| %>
  <% if blood_bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blood_bank.errors.count, "error") %> prohibited this blood_bank from being saved:</h2>

      <ul>
      <% blood_bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :area_id %>
    <%= form.collection_select(:area_id, Area.all, :id, :name, class:"col-md-1", style:"width: 300px;", prompt: 'select area') %>
  </div>

  <div class="field">
    <%= form.label :googlemap_link %>
    <%= form.text_field :googlemap_link %>
  </div>

  <div class="field">
    <%= form.label :number1 %>
    <%= form.text_field :number1 %>
  </div>

  <div class="field">
    <%= form.label :number2 %>
    <%= form.text_field :number2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
