<%= form_with(model: hospital_insurance, local: true) do |form| %>
  <% if hospital_insurance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hospital_insurance.errors.count, "error") %> prohibited this hospital_insurance from being saved:</h2>

      <ul>
      <% hospital_insurance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hospital_id %>
    <%= form.text_field :hospital_id %>
  </div>

  <div class="field">
    <%= form.label :insurance_id %>
    <%= form.text_field :insurance_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
