<p id="notice"><%= notice %></p>

<p>
  <strong>Hospital:</strong>
  <%= @hospital_insurance.hospital %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @hospital_insurance.insurance %>
</p>

<%= link_to 'Edit', edit_hospital_insurance_path(@hospital_insurance) %> |
<%= link_to 'Back', hospital_insurances_path %>
