<p id="notice"><%= notice %></p>

<h1>Blood Bank Insurances</h1>

<table>
  <thead>
    <tr>
      <th>Blood bank</th>
      <th>Insurance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blood_bank_insurances.each do |blood_bank_insurance| %>
      <tr>
        <td><%= blood_bank_insurance.blood_bank %></td>
        <td><%= blood_bank_insurance.insurance %></td>
        <td><%= link_to 'Show', blood_bank_insurance %></td>
        <td><%= link_to 'Edit', edit_blood_bank_insurance_path(blood_bank_insurance) %></td>
        <td><%= link_to 'Destroy', blood_bank_insurance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blood Bank Insurance', new_blood_bank_insurance_path %>
