



<div class="after_home_nav">
  <div class="cadre landing-text">
    <div class="cadre-text">
      <h1 class="first-text">Findpharma, votre compagNon de tous les jours
      </h1>
      <h5 class="first-text">Pour le bien être de tous </h5>
      <%= link_to 'Nos hôpitaux', hospitals_path, class: 'hp-button', style: " text-decoration: none;" %>
    </div>
  </div>

  <div class="cadre">
    <img src="//images01.nicepage.com/c9/f8/c9f8a71c816fecfd590568d064cb782a.png" alt="" class="u-image u-image-default u-image-1" width="600" height="500">
  </div>

</div>


<div class="third-cadre">
  <h1>Chercher facilement une pharmacie</h1> 
  <div class="u-border-7 u-border-palette-2-base u-line u-line-horizontal u-line-1"></div>
  <p>
   Nous vous présentons un catalogue des hôpitaux, les heures de consultation, des assurances prises en charges dans chaque hôpital ainsi que le lien google map
   de l'hopital.
  </p>
  <%= link_to 'Nos hôpitaux', hospitals_path, class: 'hospital-button', style: " text-decoration: none;" %>
  
</div>

<div class="row">
  <div class="col-md-4">
  <img src="https://images.unsplash.com/photo-1580281657527-47f249e8f4df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGhhcm1hY3l8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="" class="u-image u-image-default u-image-1" width="600" height="500">
  </div>
  <div class="col-md-4 middle-service">
    <div class="service-cell">
    <h1>Chercher facilement une pharmacie</h1> 
    
      <p>
        In the form, you have the possibility to add as many as specialities you want to the hospital
        you are creating by clicking on "add new hospital speciality" which is at the bottom of the form.
        On each nested form to add specialty, you have also the possibility to add the
        timetables to the speciality as many as
        you wante by clicking on "add new timetable" which is on the specialty nested form
      </p>
      <%= link_to 'Nos Pharmacies', pharmacies_path, class: 'third-button', style: "text-decoration: none;" %>
      
    </div>
  </div>
  <div class="col-md-4">
    <img src="https://images.unsplash.com/photo-1576602976047-174e57a47881?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="" class="u-image u-image-default u-image-1" width="600" height="500">
  </div>
</div>


<div class="row last-class">
<h1> Quelques commentaires </h1>
  <div class="col-md-2 forth-class">
    <p> Très belle initiative. Je suis mpatient de voir vos nouvelles fonctionnalités prochaine.</p>
    <img width="100%" height="20%"  src="https://images.generated.photos/CyFBv1oKdLaCGspIyD5AdV6z3CRsYUqI8bhT_et8QKc/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92Ml8w/MjM5ODA0LmpwZw.jpg" alt="" class="u-image u-image-default u-image-1" width="600" height="500">
    <p style="color: #379cd2;"> Semevo Eleonor </p>
  </div>

  <div class="col-md-2 forth-class">
    <p> Belle idée, j'adore</p>
    <img width="100%" height="20%"  src="https://images.generated.photos/CyFBv1oKdLaCGspIyD5AdV6z3CRsYUqI8bhT_et8QKc/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92Ml8w/MjM5ODA0LmpwZw.jpg" alt="" class="u-image u-image-default u-image-1" width="600" height="500">
    <p style="color: #379cd2;"> Semevo Eleonor </p>
  </div>

  <div class="col-md-2 forth-class">
    <p> Grâce à votre application, j'ai sauvé la vie de mon ami.</p>
    <img width="100%" height="20%"  src="https://images.generated.photos/CyFBv1oKdLaCGspIyD5AdV6z3CRsYUqI8bhT_et8QKc/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92Ml8w/MjM5ODA0LmpwZw.jpg" alt="" class="u-image u-image-default u-image-1" width="600" height="500">
    <p style="color: #379cd2;"> Semevo Eleonor </p>
  </div>
  
  
</div>

<div class="row" style="background-color: #fafafa;">
  <div class="col-md-5">
    <p style="font-size: 48px; line-height: 1.8em; padding: 3rem;"><%= I18n.t 'home.search_hospital' %></p>


  </div>
  <div class="col-md-5">
    <p style="font-size: 20px;line-height: 1.8em;padding: 3rem;"><%= I18n.t 'home.search_hospital_description' %></p>
        <%= link_to 'Visitez', hospitals_path, class: 'btn btn-danger', style: "color: white; text-decoration: none;" %>
  </div>
</div>
<div class="row" style="background-color: #0c6645; color: white;">
  <div class="col-md-5">
    <p style="font-size: 48px; line-height: 1.8em; padding: 3rem;"><%= I18n.t 'home.search_pharmacie' %></p>
    <p style="font-size: 20px;line-height: 1.8em; margin-left: 3rem;"><%= I18n.t 'home.search_pharmacie_description' %></p>
        <%= link_to (I18n.t 'home.visit'), pharmacies_path, class: 'btn btn-info', style: "color: white; text-decoration: none; margin-left: 3rem;" %>


  </div>
  <div class="col-md-5" style = "padding: 3rem;">
    <p style="font-size: 48px; line-height: 1.8em;"><%= I18n.t 'home.search_blood_bank' %></p>
    <p style="font-size: 20px;line-height: 1.8em;"><%= I18n.t 'home.search_blood_bank_description' %></p>
        <%= link_to (I18n.t 'home.visit'), blood_banks_path, class: 'btn btn-info', style: "color: white; text-decoration: none; " %>
  </div>
</div>
<div class="row" style="background-color: white; padding: 3rem;"">
  <div class="info-admin col-md-6" style="text-align: justify;  padding: 3rem;">
    <h2>If You are an admin and want to create a hospital</h2>
    <ul>
      <li>Click on Guest Admin to log in to the admin panel</li>
      <li>On the panel menu, click on "hospitals"</li>
      <li>On the rigth corner at the bottom of the menu, click on "New hospital" button.</li>
      <li>Fill the form which will be presented</li>
      <li>In the form, you have the possibility to add as many as specialities you want to the hospital
      you are creating by clicking on "add new hospital speciality" which is at the bottom of the form. </li>
      <li>On each nested form to add specialty, you have also the possibility to add the
        timetables to the speciality as many as
         you wante by clicking on "add new timetable" which is on the specialty nested form</li>
         <li>You also have the possibility to add insurances company to that hospital by clicking on "add new hospital insurance"</li>
         <li>Click on "Create Hospital" when you are done</li>
         <li>Correct any validation errors you get Click on "Create Hospital" when you are done</li>
    </ul>

    This process goes to any model you want to create as an admin. But this time clicking on the correspondant Name
    of the model you want to add
  </div>
  <div class="info-admin col-md-6" style="text-align: justify;  padding: 3rem;">
    <h2>If You are an admin and want to create a pharmacy</h2>
    <ul>
      <li>Click on Guest Admin to log in to the admin panel</li>
      <li>On the panel menu, click on "pharmacies"</li>
      <li>On the rigth corner at the bottom of the menu, click on "New pharmacy" button.</li>
      <li>Fill the form which will be presented</li>
     <li>You have the possibility to add insurances companies to that pharmacy by clicking on "add new pharmacy insurance"</li>
     <li>Click on "Create Pharmacy" when you are done</li>
     <li>Correct any validation errors you get and Click on "Create Pharmacy" when you are done</li>
    </ul>
  </div>
</div>
<div class="row" style="background-color: white; padding: 3rem;"">
  <div class="info-admin col-md-6" style="text-align: justify;  padding: 3rem;">
    <h2>If You are an admin and want to create a blood bank</h2>
    <ul>
      <li>Click on Guest Admin to log in to the admin panel</li>
      <li>On the panel menu, click on "Blood Banks"</li>
      <li>On the rigth corner at the bottom of the menu, click on "New Blood Bank" button.</li>
      <li>Fill the form which will be presented</li>
     <li>You have the possibility to add insurances companies to that blood bank by clicking on "add new blood bank insurance"</li>
     <li>Click on "Create Blood Bank" when you are done</li>
     <li>Correct any validation errors you get and Click on "Create Pharmacy" when you are done</li>
    </ul>
  </div>
</div>
<div class="comments" style="padding-left: 3rem;">
  <p> <%= I18n.t 'mes_text.leave_comment' %></p>
  <%= render partial: 'comments/form', locals: { comment: @comment} %>
  <div id="comments_area" class="">
    <%= render partial: 'comments/index', locals: { comments: @comments } %>
  </div>
</div>
