
<div class="after_home_nav">
  <p class="home_title "><%= I18n.t 'home.home_title' %> </p>
  <p style="color: white; font-size: 18px;"><%= I18n.t 'home.home_second_title' %></p>
      <%= link_to (I18n.t 'home.visit'), hospitals_path, class: 'btn btn-danger', style: "color: white; text-decoration: none;" %>







</div>

<div class="row" style="background-color: #fafafa;">
  <div class="col-md-5">
    <p style="font-size: 48px; line-height: 1.8em; padding: 3rem;"><%= I18n.t 'home.search_hospital' %></p>


  </div>
  <div class="col-md-5">
    <p style="font-size: 20px;line-height: 1.8em;padding: 3rem;"><%= I18n.t 'home.search_hospital_description' %></p>
        <%= link_to 'Visitez', hospitals_path, class: 'btn btn-danger', style: "color: white; text-decoration: none;" %>
  </div>
</div>
<div class="row" style="background-color: #0c6645; color: white;">
  <div class="col-md-5">
    <p style="font-size: 48px; line-height: 1.8em; padding: 3rem;"><%= I18n.t 'home.search_pharmacie' %></p>
    <p style="font-size: 20px;line-height: 1.8em; margin-left: 3rem;"><%= I18n.t 'home.search_pharmacie_description' %></p>
        <%= link_to (I18n.t 'home.visit'), pharmacies_path, class: 'btn btn-info', style: "color: white; text-decoration: none; margin-left: 3rem;" %>


  </div>
  <div class="col-md-5" style = "padding: 3rem;">
    <p style="font-size: 48px; line-height: 1.8em;"><%= I18n.t 'home.search_blood_bank' %></p>
    <p style="font-size: 20px;line-height: 1.8em;"><%= I18n.t 'home.search_blood_bank_description' %></p>
        <%= link_to (I18n.t 'home.visit'), blood_banks_path, class: 'btn btn-info', style: "color: white; text-decoration: none; " %>
  </div>
</div>
  <div class="comments" style="padding-left: 3rem;">
    <p> <%= I18n.t 'mes_text.leave_comment' %></p>
    <%= render partial: 'comments/form', locals: { comment: @comment} %>
    <div id="comments_area" class="">
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>
  </div>
