
<div class="after_nav">
  <p class="look_hospital"> <%= I18n.t 'mes_text.nav_hospital'%></p>
  <p class="place"> <%=  I18n.t 'mes_text.nav_rigth_place'  %></p>

  <div class="search-block">
    <%= form_with(scope: :hospital, url: hospitals_path, method: :get, local: true ) do |form|%>

	  <%= form.label :name, class: 'col-md-1 wite-color' %>
	  <%= form.text_field :name, class: 'col-md-1',style: "padding: 7px; width: 300px;", placeholder: (I18n.t 'mes_text.search') %>
	  <%= form.collection_select(:town_id, Area.all, :id, :town, class:"col-md-1 selection", style:"width: 300px;", prompt: 'select town') %>
    <%= form.collection_select(:area_id, Area.all, :id, :name, class:"col-md-1", style:"width: 300px;", prompt: 'select area') %>
    <%= form.collection_select(:speciality_id, Speciality.all, :id, :name, class:"col-md-1", style:"width: 300px;", prompt: 'select speciality') %>
    <%= form.submit I18n.t 'mes_text.search', class: 'btn btn-default'%>

 <% end %>
  </div>
  <div class="table-container">
    <table class="list-table table table-hover">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Quartier</th>
          <th>Public</th>
          <th>Lien google map</th>
          <th>Numéro de téléphone</th>
          <th>Numéro de téléphone</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @hospitals.each do |hospital| %>
          <tr>
            <td><%= hospital.name %></td>
            <td><%= hospital.area.name %></td>
            <td><%= hospital.public %></td>
            <td> <a href="<%= hospital.googlemap_link %>" > Lien</a></td>
            <td><%= hospital.number1 %></td>
            <td><%= hospital.number2 %></td>
            <td><%= link_to 'Details', hospital, class: "btn btn-primary bouton-detail" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @hospitals %>

  <div class="comments">
    <p>You can leave a comment</p>
    <%= render partial: 'comments/form', locals: { comment: @comment} %>
    <div id="comments_area" class="">
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>
  </div>

</div>
