<!DOCTYPE html>
<html>
  <head>
    <title>Findpharma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;">
    <div class="container-fluid">
       <div class="row ">
         <header >
          <nav>
            <ul class="nav nav-pills" style="">
              <li class="">
                <%= link_to "Findpharma", hospitals_path, class:"menu-item logo"%>
              </li>
              <div class="menu-item-rigth">
                  <li class="menu-item"><%= link_to "Pharmacies", pharmacies_path, class:"nav-item"%>

                <li class="menu-item"><a class="nav-item" href="#">Blood banks</a></li>
                <li class="menu-item"><a class="nav-item" href="#">account</a></li>
                <li class="menu-item"><a class="nav-item" href="#">logout</a></li>

              </div>


            </ul>
          </nav>
         </header>


         <%= yield %>

    </div>
  </body>
</html>
