<!DOCTYPE html>
<html>
  <head>
    <title>Findpharma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body style="margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;">
    <div class="container-fluid">
       <div class="row ">
         <header >
          <nav>
            <ul class="nav nav-pills " style="">
              <li class="">
                <%= link_to "Findpharma", hospitals_path, class:"menu-item logo"%>
              </li>
              <div class="menu-item-rigth">
                <li class="menu-item"><%= link_to "Pharmacies", pharmacies_path, class:"nav-item"%></li>
                <li class="menu-item"><%= link_to "Banque de sang", blood_banks_path, class:"nav-item"%></li>

                <% if current_user.present? %>
                  <li class="menu-item"><%= link_to "Compte", user_path(current_user), class:"nav-item" %></li>
                  <li class="menu-item"><%= link_to "Se déconnecter", session_path(current_user.id), method: :delete, class:"nav-item" %></li>
                <% else %>
                  <li class="menu-item"><%= link_to "S'enrégistrer", new_user_path, class:"nav-item" %></li>
                  <li class="menu-item"><%= link_to "Se connecter", new_session_path, class:"nav-item" %></li>
                  <li class="menu-item"><%= link_to t("button.guest_user"), guest_user_path, method: :post, class: " me-2 btn btn-success "%></li>
                  <li class="menu-item"><%= link_to t("button.guest_admin"), guest_admin_path, method: :post, class: " me-2 btn btn-success "%></li>
                <% end %>
                <% if current_user.present? %>
                  <% if current_user.admin %>
                    <li class="menu-item"><%= link_to "Administration", admin_root_path, class:"nav-item" %></li>
                  <% end %>
                <% end %>
              </div>


            </ul>
          </nav>
         </header>

        <span class = "principal">
          <%= yield %>
        </span>


  <footer>
    <p>@copyrigth all rigth reserved</p>
  </footer>
  </body>
</html>
